@import "tailwindcss";

@layer utilities {
  .gradient-text {
    @apply bg-linear-to-br from-blue-600 to-purple-600 bg-clip-text text-transparent;
  }
  .bg-gradient{
     @apply bg-linear-to-br from-blue-600 to-purple-600
  }
}
